.container {
  display: flex;
  flex-wrap: wrap;
}

.header {
  width: 100%;
  min-height: 150px;
  background-color: #A52A2A;
}

.nav {
  width: 100%;
  min-height: 50px;
  background-color: #8A2BE2 ;
}

.content {
  width: 100%;
  background-color: #A9A9A9;
  display: flex;
  flex-wrap: wrap;
}

.footer {
  width: 100%;
  min-height: 100px;
  background-color: #A52A2A;
}

body {
  background-color: #DCDCDC;
}

.box {
  border-color: black;
}

.box1_1 {
  width: 16.66%;
  height: 150px;
}

.box1_2 {
  width: 16.66vw;
  height: 33.33vw;
}

.box2_1 {
  width: 33.33vw;
  height: 16.66vw;
}

.box2_2 {
  width: 33.33vw;
  height: 33.33vw;
}

.orange {
  background-color: orange;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.red {
  background-color: red;
}

.pink {
  background-color: pink;
}

@media screen and (min-width: 800px){
  .container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}